[access]
	inheritFrom = All-Projects
[project]
[access "refs/heads/*"]
	push = +force group Asus flo maintainers
	pushMerge = group Asus flo maintainers
	delete = group Asus flo maintainers
	label-Code-Review = -2..+2 group Asus flo maintainers
	label-Verified = -1..+1 group Asus flo maintainers
	submit = group Asus flo maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Asus flo maintainers
